<div class="row">

    <div class="col-xs-12">
        <h1 class="page-header">File <small data-ng-bind="model.uploadedFile.fileName"> </small></h1>
    </div>

    <div class="col-xs-12" data-ng-if="'IMAGE' == model.uploadedFile.fileType">
        <a href="{{model.urls.directDownload}}">
            <img data-ng-src="{{model.urls.directDownload}}"/>
        </a>
    </div>

    <div class="col-xs-12" data-ng-if="'VIDEO' == model.uploadedFile.fileType">
        <a href="{{model.urls.directDownload}}">
            <img data-ng-src="{{model.urls.directDownload}}"/>
        </a>
    </div>

    <div class="col-xs-12">
        <div id="" class="panel panel-default">

            <div class="panel-body text-center">
                <a href="{{model.urls.directDownload}}" class="btn btn-primary btn-file" data-ng-bind="'Download ' + model.uploadedFile.fileName"></a>
            </div>
        </div>
    </div>

    <div class="col-xs-12">

        <table class="table table-striped">
            <tbody class=".table-hover">
                <tr>
                    <td>File type</td>
                    <td data-ng-bind="model.uploadedFile.contentType"></td>
                </tr>
                <tr>
                    <td>File size</td>
                    <td data-ng-bind="model.uploadedFile.fileSize | humanFileSize"></td>
                </tr>
                <tr>
                    <td>Link</td>
                    <td><a href="{{model.urls.spaShort}}" data-ng-bind="model.urls.spaShort"></a></td>
                </tr>
                <tr>
                    <td>Link with name</td>
                    <td><a href="{{model.urls.spaShortWithName}}" data-ng-bind="model.urls.spaShortWithName"></a></td>
                </tr>
                <tr>
                    <td>Direct link</td>
                    <td><a href="{{model.urls.directDownload}}" data-ng-bind="model.urls.directDownload"></a></td>
                </tr>
                <tr>
                    <td>Direct link with name</td>
                    <td><a href="{{model.urls.directDownloadWithName}}" data-ng-bind="model.urls.directDownloadWithName"></a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
