<div class="row">

    <div class="col-xs-12">
        <h1 class="page-header">upload <small> any of your images, videos, or files</small></h1>
    </div>

</div>

<div class="row">

    <div class="col-xs-4 col-xs-push-4" data-ng-file-over="" data-over-class="fileHover" data-uploader="fileUploader">

        <div id="uploadAreaBox" class="panel panel-default">
            <div class="panel-heading">Drag and drop your file here</div>

            <div class="panel-body text-center">
                <span class="btn btn-primary btn-file">
                    Browse <input type="file" multiple="" data-nv-file-select="" data-uploader="fileUploader"/>
                </span>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs-12">

        <div data-ng-if="model.uploads.length > 0" id="uploadQueueBox" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Uploads</h3>
            </div>

            <div class="panel-body">

                <div data-ng-if="model.uploads.length > 0">
                    <ul class="list-group">

                        <li class="list-group-item" ng-repeat="upload in model.uploads">
                            <div data-ng-if="!upload.uploadedFile">
                                <div class="btn-group btn-group-xs pull-right">
                                    <a title="Cancel Upload" class="btn btn-cs btn-default" data-ng-click="removeFile(upload.fileItem)">
                                        <!--<i class="fa fa-fw fa-remove"></i>-->
                                        Cancel
                                    </a>

                                    <a title="Upload File" class="btn btn-cs btn-primary" data-ng-click="uploadFile(upload.fileItem)">
                                         <!--<i class="fa fa-fw fa-cloud-upload"></i>-->
                                        Upload
                                    </a>
                                </div>

                                <div class="input-group">
                                    File Name: <span ng-bind="upload.fileItem.file.name"></span>
                                </div>

                                <div class="clearfix" data-ng-if="upload.fileItem.progress && upload.fileItem.progress > 0">
                                    <br/>
                                    <progressbar value="upload.fileItem.progress" type="success"></progressbar>
                                </div>
                            </div>

                            <div data-ng-if="upload.uploadedFile">

                                    <table class="table table-striped">
                                        <tbody class="table-hover">
                                            <tr>
                                                <td>File name</td>
                                                <td data-ng-bind="upload.uploadedFile.fileName"></td>
                                                <td><a href="{{upload.urls.spaShortWithName}}" data-ng-bind="upload.urls.spaShortWithName"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                        </li>

                    </ul>

                    <div class="btn-group btn-group-xs clearer pull-right">
                        <a title="Cancel Upload" class="btn btn-cs btn-default" data-ng-click="removeAll()">
                            <!--<i class="fa fa-fw fa-remove"></i>-->
                            Remove All
                        </a>

                        <a title="Upload File" class="btn btn-cs btn-primary" data-ng-click="uploadAll()">
                             <!--<i class="fa fa-fw fa-cloud-upload"></i>-->
                            Upload All
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>
