

body {
    padding-top: 50px;
}

.footer {
    margin: 50px 0;
}

.monoSpacedFont {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}